// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
.entry-title {
    font-size: 40px;
    font-family:Consolas;
}

.entry-content {
    line-height: 1.8em;
    color: #444;
    font-size: 16px;
}
